/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input::placeholder{
    color: rgb(102, 159, 228);
}

textarea::placeholder{
    color: rgb(102, 159, 228);
    
    font-size: large;
}

